body{
	background-color:grey;
}

form{
	border-radius:50px;
	border:1px solid black;
	background-color:white;
	margin-left:35%;
	width:20%;
	height:100px;
	padding:50px;
	margin-top:10%;
}

label{
	backgroung-color:grey;
}

input{
	border-radius:20px;
	background-color:white;
}

input:hover{
	border-radius:20px;
	background-color:lightgray;
	color:white;
}